.header {
  margin: 0 auto;
  width: 254px;
  padding-top: 34px;
}

.header__logo {
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 188px;
    padding-top: 20px;
  }
}
