.intro {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
}

.intro__title {
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__quote {
  max-width: 738px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 10px;
}

.intro__author {
  max-width: 732px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin-bottom: 32px;
}

.intro__text {
  max-width: 772px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
    margin-top: 90px;
  }

  .intro__quote {
    max-width: 720px;
  }

  .intro__text {
    padding-bottom: 64px;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    max-width: 504px;
  }

  .intro__title {
    max-width: 497.5px;
    font-size: 38.5px;
    line-height: 42px;
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin: 64px 16px 0 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 40px;
    margin-top: 0;
  }

  .intro__quote {
    line-height: 30px;
  }

  .intro__text {
    padding-bottom: 38px;
  }
}